

    <ul class = 'nav'>
      <li>
      <form action="/sessions?_method=DELETE" method="POST">
        <input type="submit" value="Log Out" class="btn-small red" />
      </form>
      </li>
      <li>
      <button type="button" id='1'><a href='/posts/TheFlowerBed/new'>Create a new Post</a></button>
      </li>
      <li>
       <button type="button" id='2'><a href='/users/new'>Sign Up</a></button>
      </li>
      <li>
        <button type="button" id='3'><a href='/sessions/new'>Log In</a> </li>
      <li>
       <button type="button" id='4'><a href='/theflowerbed'>Home</a></button>
      </li>
    </ul>
