<div>
<nav>
<ul class='right'>
  <li><a href='/TheFlowerBed/new'>Create a new Post</a></li>
    <li> Welcome</li>
    <li>
      <form action="/sessions?_method=DELETE" method="POST">
        <input type="submit" value="Log Out" class="btn-small red" />
      </form>
    </li>
      <li><a href='/users/new'>Sign Up</a></li>
      <li><a href='/sessions/new'>Log In</a></li>
    </ul>
</nav>
</div>
