
  <a href='/posts/TheFlowerBed/new'>Create a new Post</a>
    <h1>The Flower Bed</h1>
      <form action="/sessions?_method=DELETE" method="POST">
        <input type="submit" value="Log Out" class="btn-small red" />
      </form>
      <a href='/users/new'>Sign Up</a>
      <a href='/sessions/new'>Log In</a>
      <a href='/theflowerbed'>Home</a>
