<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
        <%- include('./partials/nav.ejs') %>
    <div class = 'container'>
      <h1> New Post </h1>
      <form action="/posts/TheFlowerBed" method="POST">
        UserId:<input type="text" name='userId' value='<%=user._id%>'><br/>
        title:<input type='text' name='title' value='' /><br/>
        blog: <input type='text' name='blog' value=''><br/>
        img: <input type='text' name='img' value=''><br/>
        <input type='submit' value='Post to Feed'/>
      </form>
  </body>
</html>
