<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
        <%- include('./partials/nav.ejs') %>

        <div class = 'selected-leaf'>
          <h1 class = 'leaf-title-show'><%=leaf.title%></h1>
          <p><%=leaf.blog%></p>
          <p2><%=leaf.replies%>
  </body>
</html>
