.container{
  text-align: center;
  background: rgb(255,254,235);
  border-style: solid;
  border-radius: 5px;
  border-color: black;
}
body{
  background: rgb(252,228,194);
}
.header{
  background-color: #234F1E;
  text-align: center;
  height: 15%;
}
.nav{
  list-style: none;
  list
  margin-right: 55px;
  padding: 20px;
  display: inline;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 9px 9px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #5D8B63;
}
.post-meat-div{
  border-top-style: :solid;
  border-top-color: grey;
  border-bottom-style: solid;
  border-bottom-color: grey;
}
.post-meat{
  font-family: 'Encode Sans Condensed', sans-serif;
  color: #02BA0F;
  padding-right: 150px;
  padding-left: 150px;
  font-size:18px;
}
.post-title a{
  font-family: 'Carter One', cursive;
  font-size: 28px;
  color: #02BA0F;
  text-decoration:none;
}
.post-title a:hover{
  background-color: #5D8B63
}
.timeline-title{
  font-family: 'Carter One', cursive;
  color: #02BA0F;
}
